$beige: #ffca93;
$transparent-beige: rgba(127, 75, 19, 0.42);
$light-beige: #FFDFBE;
$yellow: #FEB567;
$ivory: #FFECD8;
$brown: #7F4B13;
$white: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}